
/reference/GeometryShaderBasic/vc2019/.vs
/reference/InstancedTeapots/vc2019/.vs
/reference/ParticleSphereGPU/vc2019/.vs
/Toroidal/vc2019/.vs
*.user
/Toroidal/vc2019/Toroidal
/Toroidal/vc2019/x64
/Toroidal/blocks/OSC/samples/SimpleReceiver/vc2019/.vs
/Toroidal/blocks/OSC/samples/SimpleReceiver/vc2019/SimpleReceiver
/Toroidal/blocks/OSC/samples/SimpleReceiver/vc2019/x64
/reference/InstancedTeapots/vc2019/x64
/reference/InstancedTeapots/vc2019/InstancedTeapots
/reference/ParticleSphereGPU/vc2019/x64
/reference/ParticleSphereGPU/vc2019/Particle.67D91139
